<div class="multi-page">
	<div class="collections page">
		<h1>
			<%= @page.display_title %>
		</h1>
		<table>
			<tr>
				<th>Autor</th>
				<th>Titel</th>
			</tr>
			<% @publications.each do |publication| %>
				<tr>
					<td><%= publication.authors %></td>
					<td><%= link_to publication.title, publication %></td>
				</tr>
			
			<% end %>
		
		</table>
	
	</div>
	<div class="collections page">
		<p>&nbsp;</p>
		<p>
			<%= nl2br @page.display_text %>
		</p>
	</div>
</div>