<%= paginate monuments if monuments.respond_to? :total_pages %>
<dl>
	<% monuments.each do | monument | %>
		<dt><%= monument.id%></dt>
		<dd>
			<%= link_to_monument monument %>
		</dd>
	<% end %>
</dl>
<div style='clear:both;'></div>