<% source = nil if not source %>
<div class='monument-photos'>
	<% monuments.each do | monument | %>
		<div class="monument-photo-wrapper" title="<%= monument.id%> <%= monument.title %>">
			<a class="monument-photo" href="<%= monument_short_path monument, source %>">
				<% if photo = monument.photos.order(:ord).take %>
					<div style="background-image: url(//lupa.at/img/<%= url_encode photo.filename %>);" class=photo></div>
				<% end %>
			</a>
		</div>
	<% end %>
	<div style='clear: both;'></div>
</div>