
<p>
	Lupa ist eine Sammlung von Bildern und Inschriften von Steindenkmälern aus dem Einflussbereich des römischen Reichs.
	Das besondere an Lupa ist die Betrachtung der Denkmäler als Gesamtes aus Inschrift, Ikonographie, Material und Architektur.
	Somit ist die Lupa-Datenbank zu einem unverzichtbaren Werkzeug für Archäologen und Epigrafiker geworden; 
	gleichzeitig soll sie aber auch für interessierte Laien zugänglich sein.
</p>

<p>
	Lupa hat ihren Ursprung in 1986 als ein Zettelkasten geführt von Ortolf Harl.
	1994 wurde der Zettelkasten digitalisiert und von Friederike Harl als Access-Datenbank geführt.
	Im Jahr 2002 brachte Kurt Schaller die Datenbank unter dem Namen „Ubi Erat Lupa“ ins Internet.
</p>

<p>
	Ubi Erat Lupa war zuerst an der Forschungsgesellschaft Wiener Statdarchäologie und später an der Universität Salzburg angesiedelt.
	Aus dem Umfeld der Lupa entstand eine Vielzahl an wissenschaftlichen Projekten in weitgestreuten Bereichen—von den digitalen Geisteswissenschaften über Archäometrie bis zu Tourismusinformationen über Welterbe.
	Die Lupa war auch die Grundlage für mehrere EU-Projekte.
</p>

<p>
	Heute ist Lupa eine Datenbank mit <%= @num_photos %> Bildern zu <%= @num_monuments %> Steindenkmälern.
	Die Fotografien stammen überwiegend von Ortolf Harl, die archäologischen Daten von Friederike Harl, 
	technisch betreut wird Lupa von Jakob Egger.
</p>

<p>
	Die Webseite <i>lupa.at</i> befindet sich noch im Aufbau.
	Die gesamte Datenbank ist noch unter der alten Adresse <a href="http://ubi-erat-lupa.org">ubi-erat-lupa.org</a> zu finden.
	Unter dem Motto „Gut Ding braucht Weile“ soll lupa.at eine zeitgemäße Webdatenbank werden.
	Bis dahin werden viele Links auf lupa.at noch zu ubi-erat-lupa.org führen.
</p>

<p>
	Kontakt: <a href="mailto:ortolf.harl@lupa.at">ortolf.harl@lupa.at</a>
</p>