<div class="page">
	<h2>
		Über das Projekt
	</h2>
	<img src="<%= image_path "lebing2011.jpg"%>" width=500>
	<p>
		Die Bilddatenbank „Ubi Erat Lupa“ (oder kurz einfach „Lupa“) ist den antiken Steindenkmäler gewidmet.
		Sie umfasst Rundplastiken, Reliefs, Inschriften und Architekturstücke.
		Sowohl Ikonografie als auch Inschrift der Denkmäler bieten ein Fülle von Informationen zu Gesellschaft, Kultur und Kunst der Antike.
	</p>

	<p>
		Lupa hat sich als essentielles Werkzeug für verscheidene Fachrichtungen etabliert.
		Sie wird genutzt von Archäologen und Epigraphen, von Heimatforschern,
		Schülern und Studenten.
	</p>

	<p>
		Sie reicht bis in die Zeit des Justinian (ca. 500 nach Christus) und erfasst nach Möglichkeit auch
		prähistorische Steindenkmäler.
		Weil sich Lupa von Wien aus konzentrisch entwickelt hat, überwiegen zur Zeit römerzeitliche
		Denkmäler in Mittel- und Südosteuropa.
	</p>


	<p>
		Zur Zeit enthält Lupa <%= @num_photos %> Bilder zu <%= @num_monuments %> Steindenkmälern.
		Die Fotografien stammen überwiegend von Ortolf Harl, die archäologischen Daten von Friederike Harl. 
		Technisch betreut wird Lupa von Jakob Egger.
	</p>

	<p>
		 Lupa ist in jeder Richtung zur Erweiterung offen.
	</p>


	<p>
		Kontakt: <a href="mailto:ortolf.harl@icloud.com">ortolf.harl@icloud.com</a>
	</p>
</div>