<div class="page">
	<h2>
		Über das Projekt
	</h2>
	<img src="<%= image_path "lebing2011.jpg"%>" width=500>
	<p>
		Die Bilddatenbank „Ubi Erat Lupa“ ist den antiken Steindenkmäler gewidmet.
		Sie umfasst Rundplastiken, Reliefs, Inschriften und Architekturstücke.
		Sowohl Ikonografie als auch Inschrift der Denkmäler bieten ein Fülle von Informationen zu Gesellschaft, Kultur und Kunst der Antike.
	</p>

	<p>
		Lupa ist ein essentielles Werkzeug für Archäologen und Epigraphen, dient aber genauso auch Heimatforschern, Schulen und Tourismus.
	</p>

	<p>
		Sie reicht bis in die Zeit des Justinian (ca. 500 n. Chr.) und erfasst nach Möglichkeit auch
		prähistorische Steindenkmäler.
		Weil sich Lupa von Wien aus konzentrisch entwickelt hat, überwiegen zur Zeit römerzeitliche
		Denkmäler in Mittel- und Südosteuropa.
	</p>

	<p>
		 Lupa ist in jeder Richtung zur Erweiterung offen.
	</p>


	<p>
		Kontakt: <a href="mailto:ortolf.harl@icloud.com">ortolf.harl@icloud.com</a>
	</p>
</div>