<div class="page">
	<h1>Suche nach Steindenkmälern</h1>
	<p>
		Geben Sie einen oder mehrere Suchbegriffe ein.
		Die Suche findet Ergebnisse, die alle Suchbegriffe enthalten.
	</p>
	<%= render partial: 'queries/form', locals: { query: @query, monuments: @monuments } %>
</div>