<div class="page">
	<h1>Suche nach Steindenkmälern</h1>
	<p>
		Bitte geben Sie Ihre Suchbegriffe ein.
	</p>
	<%= render partial: 'queries/form', locals: { query: @query, monuments: @monuments } %>
</div>