body {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
  	
a {
	color: #266eaf;
}

a:visited {
	color: #6b43b7;
}
	
#lupa-title {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 25px;
	font-weight: 800;
	background: #fff;
	color: #000;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

#lupa-title h1 {
	font-weight: normal;
	margin: 4px 6px 2px;
	font-size: 24px;
	float: left;
}

#lupa-title h2 {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	margin: 4px 6px 5px;
	font-size: 16px;
	color: #4e4e4e;
	float: right;
	flex-grow: 1;
	text-align: right;
}

@media all and (max-width: 500px) {
	#lupa-title h2 {
		display: none;
	}
}

#lupa-menu {
	font-family: Helvetica;
	font-weight: 100;
	font-size: 15px;
	clear: both;
	text-align: center;
	background: #eee;
}

#lupa-menu a {
	display: inline-block;
	text-decoration: none;
	color: #666;
	height: 19px;
	padding: 8px 10px;
	vertical-align: center;
}

#lupa-menu a:hover {
	text-decoration: underline;
}

#lupa-menu a:active {
}

#lupa-menu a.active {
	text-decoration: underline;
}

#content {
	clear: both;
	flex-grow: 1;
	position: relative;
}