#textfield{
	font-family: Helvetica;
	border: 3px solid black;
	height: 50px;
	width: 200px;
	font-size: 14px;
	padding: 5px;
}

.autocomplete-suggestion{
	font-family: Helvetica;
	color: #aaa;
	border-bottom: 1px solid #cdcdcd;
	padding: 5px;
	font-size: 13px;
	position: relative; 
	padding: 0.6em; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.autocomplete-suggestion:last-child{
	border-bottom: none;
}

.autocomplete-suggestion b{
	font-family: Helvetica;
	color: black;
	font-weight: normal;
}

@media all and (min-width: 500px){

	.reset_img {
	height: 20px;
	position: absolute;
	top: 25px;
	right: 7px;
	display: none;
	}

	.autocomplete-suggestions{
		position: absolute;
		top: 100%;
		margin-top: -15px;
		right: 0;
		left: 0;
		max-height: 250px;
    	z-index: 9999; 
    	overflow: hidden; 
    	overflow-y: auto; 
	}
	
	.autocomplete-suggestions::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background-color: #ccc;
		padding: 3px;
    }
	.autocomplete-suggestions::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #999;
        border: 2px solid #ccc;
	}

	.autocomplete-suggestion{	
		line-height: 25px; 
	}

	.menu_img, .menu_img_child{
		height: 20px;
		position: absolute;
		top: 25px;
		right: 7px;
	}
	
	.menu_img_child{
		transform: rotate(-90deg);
	}

	.menu_img_child{
		top: 10px;
	}

	/*.loadingGif{
		top: 25px;
		right: 7px;
		position: absolute;
		height: 20px;
		display: none;
	}*/
}

@media all and (max-width: 499px){
	.reset_img {
		height: 30px;
		position: absolute;
		top: 25px;
		right: 7px;
		display: none;
	}

	.autocomplete-suggestions{
		margin-top: -15px;
		margin-left: 0px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

	.autocomplete-suggestion{	
		line-height: 35px; 
	}

	.menu_img, .menu_img_child{
		height: 30px;
		position: absolute;
		top: 25px;
		right: 7px;
	}

	.menu_img_child{
		top: 10px;
	}

	/*.loadingGif{
		top: 25px;
		right: 7px;
		position: absolute;
		height: 30px;
		display: none;
	}*/
}

#outputtitle{
	color: black;
}

.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border: 1px solid #cdcdcd; 
    border-top: 0; 
    background: #fff; 
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

    /* core styles should not be changed */
    display: none; 
    box-sizing: border-box;
}

.autocomplete-suggestion.selected { 
	background: #eee; 
}

#erroralert{
	padding: 5px;
	font-family: Helvetica;
	font-size: 13px;
	color: #aaa;
}