#textfield{
	font-family: Helvetica;
	border: 3px solid black;
	height: 50px;
	width: 200px;
	font-size: 14px;
	padding: 5px;
}

.autocomplete-suggestion{
	font-family: Helvetica;
	color: #aaa;
	border-bottom: 1px solid #cdcdcd;
	padding: 5px;
	font-size: 13px;
	position: relative; 
	padding: 0.6em; 
	line-height: 23px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.autocomplete-suggestion:last-child{
	border-bottom: none;
}

.autocomplete-suggestion b{
	font-family: Helvetica;
	color: black;
	font-weight: normal;
}

@media all and (min-width: 500px){

	#reset_img_finding_place, #reset_img_ancient_finding_place, #reset_img_conservation_place{
	height: 20px;
	position: absolute;
	top: 25px;
	right: 7px;
	display: none;
	}

	.autocomplete-suggestions{
		position: absolute;
		top: 100%;
		margin-top: -15px;
		right: 0;
		left: 0;
		max-height: 250px;
		overflow: visible;
	}
}

@media all and (max-width: 499px){
	#reset_img_finding_place, #reset_img_ancient_finding_place, #reset_img_conservation_place{
		height: 30px;
		position: absolute;
		top: 25px;
		right: 7px;
		display: none;
	}

	.autocomplete-suggestions{
		margin-top: -15px;
		margin-left: 0px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

#outputtitle{
	color: black;
}

.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border: 1px solid #cdcdcd; 
    border-top: 0; 
    background: #fff; 
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

    /* core styles should not be changed */
    display: none; 
    z-index: 9999; 
    overflow: hidden; 
    overflow-y: auto; 
    box-sizing: border-box;
}

.autocomplete-suggestion.selected { 
	background: #eee; 
}