.monument {
}

.monument h1 {
}

.monument p {
}

.monument .photos img {
	margin-right: 10px;
}

.monument .photos {
}

.photos .caption {
	font-size: 12px;
}

dl {
}

dt {
	color: #aaa;
	font-size: 13px;
	line-height: 16px;
	padding-top: 0px;
	margin-bottom: 0px;
}

dd {
	margin: 0 0 11px;
/*	margin-left: 130px;*/
	font-size: 14px;
	line-height: 19px;
}

dd a {
	color: inherit !important;
	text-decoration: none;
}

dd a:hover {
	text-decoration: underline;
}

.deemph {
	color: #999;
}