@media all and (min-width: 800px) {

	div.page-menu {
		position: absolute;
		left: 50%;
		width: 0px;
		top: 117px;
		text-align: right;
	}
	div.page-menu div.page-menu-inner {
		position: absolute;
		right: 295px;
	}
	div.page-menu a {
		margin: 0 0 8px 0;
		padding-right: 9px;
		font-size: 14px;
		line-height: 22px;
		text-decoration: none;
	}
	div.page-menu a.current {
		color: black;
		text-decoration: none;
		color: black;
	}

	div.page-menu a:hover{
		color: black;
	}
}

@media all and (max-width: 799px) {

	div.page-menu {
		max-width: 550px;
		margin: 0px auto;
		padding: 40px 10px 0px;
	}
	div.page-menu a {
		margin: 0 0 8px 0;
		text-decoration: none;
		padding: 5px 0 5px 9px;
		font-size: 18px;
		border-left: 1px solid white
	}
	div.page-menu a.current {
		border-left: black solid 5px;
		padding-left: 5px;
		color: black;
	}

	div.page-menu a:hover{
		color: black;
		text-decoration: none;
	}
}

div.page-menu a {
	display: block;
	color: #aaa;
}


div.page {
	max-width: 550px;
	margin: 0px auto;
	padding: 20px 10px 40px;
}

div.page img {
	max-width: 100%;
}

div.page > p {
	font-size: 14px;
	line-height: 22px;
}

div.page h1, div.page h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	color: #4e4e4e;
	line-height: 1em;
}

h1 a, h2 a, h3 a {
	color: inherit !important;
}

div.page h2 {
	margin: 2em 0 0.5em;
	font-size: 1.75em;
}

@media all and (min-width: 800px) {
	div.multi-page {
		display: flex;
		justify-content: center;
	}
	
	div.multi-page > div.page {
		margin: 1em 1.5em;
	}
}
