.page {
	max-width: 550px;
	margin: 0px auto;
	padding: 15px 10px 40px;
}

.page img {
	max-width: 100%;
}

.page > p {
	font-size: 14px;
	line-height: 22px;
}

.page h1, .page h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	color: #666;
	line-height: 1em;
}