body.photo-box {
	background-color: #444;
}

@media all and (min-width: 801px) {
	.photo-box-header {
	}
}

@media all and (min-width: 501px) {

	.photo-box-header {
		display: block;
		position: fixed;
		top: 10px;
		left: 10px;
		background: rgba(0,0,0,0.8);
		padding: 6px 36px 6px 8px;
		color: #ccc;
		border-radius: 4px;
		max-width: 400px;
		
	}
	
	.photo-box-header p {
		margin: 0;
	}

	.photo-box-header p + p {
		margin-top: 0.5em;
	}
	
	.photo-box-header #photo-caption {
		font-size: 0.8em;
	}
	
	.hide-details .detail {
		display: none;
	}
	
	.toggle-detail {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;
		background: image_url('close-icon-photo.png') 50% 50% no-repeat;
		background-size: 25px 25px;
		font-size: 0;
		opacity: 0.85;
	}
	
	.hide-details .toggle-detail {
		top: 50%;
		margin-top: -18px;
		background: image_url('unclose-icon-photo.png') 50% 50% no-repeat;
		background-size: 25px 25px;
	}
	
	.photo-box-header p a {
		color: inherit;
		font-size: 24px;
	}

	.photo-box-footer {
		padding: 10px 10px;
		color: #ccc;
		font-size: 14px;
		border-radius: 4px;
		text-align: center;
	}

	.photo-box-footer p {
		margin: 0;
	}

	.photo-box-footer p + p {
		margin-top: 0.5em;
	}

	.photo-box-container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.photo-box {
		margin-bottom: 75px;
	}

	.photo-box .photo-box-container .main-photo {
		max-height: 90vh;
		max-width: 90vw;
	}
	
	.photo-box .nav-buttons {
	}
	
	.photo-box .nav-buttons a {
		width: 60px;
		height: 50px;
/*		border-radius: 8px;*/
		text-align: center;
		color: #aaa;
		text-decoration: none;
		padding: 0 10px;
		position: fixed;
		bottom: 0px;
		border-radius: 4px;
		z-index: 2;
		font-size: 0;
	}
	
	.photo-box .nav-buttons a[rel~="prev"] {
		left: 0px;
		background: image_url('arrow-left.png') 50% 50% no-repeat;
		background-size: 40px 40px;
	}
	.photo-box .nav-buttons a[rel~="next"] {
		right: 0px;
		background: image_url('arrow-right.png') 50% 50% no-repeat;
		background-size: 40px 40px;
	}
	
	.photo-box .nav-index-buttons {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		background: rgba(0,0,0,0.8);
		padding: 6px 60px 6px;
	}
	
	.photo-box .nav-index-buttons a {
		background: rgba(0,0,0,0.8);
		border: 2px solid transparent;
		margin: 0 3px;
		border-radius: 4px;
		display: inline-block;
		padding: 7px 11px;
		color: #ccc;
		text-decoration: none;
		font-size: 18px;
	}
	
	.photo-box .nav-index-buttons a.active {
		color: #ddd;;
		background: rgba(255,255,255,0.2);
		border: 2px solid #ddd;
	}
	
}

@media all and (max-width: 500px) {
	.photo-box-header {
		display: block;
		padding: 0px 20px;
		color: #ccc;
		margin-bottom: 10px;
	}
	
	.photo-box-header p a {
		font-size: 24px;
		color: inherit;
	}
	
	.photo-box-container {
		text-align: center;
	}
	
	.photo-box {
		padding-bottom: 100px;
	}
	
	.toggle-detail {
 	   display: none !important;
	}
	
	.photo-box .nav-buttons {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
	}
	
	.photo-box .nav-buttons a {
		width: 50px;
		height: 40px;
		text-align: center;
		color: #aaa;
		text-decoration: none;
		padding: 20px;
		font-size: 0;
	}
	
	.photo-box .nav-buttons a[rel~="prev"] {
		float: left;
		background: image_url('arrow-left.png') 50% 50% no-repeat;
		background-size: 40px 40px;
	}
	.photo-box .nav-buttons a[rel~="next"] {
		float: right;
		background: image_url('arrow-right.png') 50% 50% no-repeat;
		background-size: 40px 40px;
	}
		
	.photo-box-footer {
		padding: 10px 10px;
		color: #ccc;
		font-size: 14px;
	}

	.photo-box-footer p {
		margin: 0;
	}

	.photo-box-footer p + p {
		margin-top: 0.5em;
	}
	
	.photo-box .nav-index-buttons {
		display: none;
	}
	
	.photo-box .photo-box-container .main-photo {
		max-height: 90vh;
		max-width: 90vw;
	}
	
}