#map {
	position: absolute;
	left: 0;
	top: 3px;
	bottom: 0;
	right: 0;
	min-height: 300px;
}

.breadcrumb {
	font-size: 11px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.breadcrumb li {
	display: inline;
	margin: 0;
	padding: 0;
	color: #aaa;
}

.breadcrumb li + li::before {
	content: "» ";
}

.breadcrumb li a {
	text-decoration: none;
	color: inherit;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

.place h1 {
	margin-bottom: 0;
}

.placename-list {
	margin: 0;
	padding: 0;
}

.placename-list li {
	display: inline;
	margin: 0;
	padding: 0;
}

.placename-list li a {
	color: inherit;
	font-size: 14px;
}

.placename-list li + li::before {
	content: " · ";
	color: #999;
}

.show-more, .pagination {
	text-align: center;
}

.show-more a, .pagination a {
	display: inline-block;
	margin: 8px auto 8px;
	cursor: pointer;
	padding: 5px 8px 4px;
	border-radius: 4px;
	font-size: 12px;
	color: #666;
	background: #f9f9f9;
	text-decoration: none;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.pagination .current {
	font-size: 14px;
	margin: 7px auto;
	padding: 5px 8px 4px;
}

