.query-summary {
	display: block;
	border-radius: 6px;
	padding: 10px 20px 10px;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0 0 10px;
	background: #f6f6f6;
}

.query-summary p {
	margin: 0.5em 0;
	font-size: 14px;
}

.query-summary strong {
	font-weight: normal;
	color: rgba(0,0,0,0.4);
}

.query-summary {
}

.query-box{
	position: relative;
}

.query-summary .show-more {
	text-align: right;
	float: right;
	margin: 0;
}

.query-summary .show-more a {
	margin: 3px -8px 0 0;
}

.query-summary p.query-hits {
	text-align: center;
	clear: both;
	font-size: 18px;
	margin: 18px 0 6px;
}

.query-form {
	display: block;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

.query-form label {
	flex-grow: 0;
	display: block;
	margin: 0 0 5px 0;
	font-size: 13px;
	text-align: left;
	padding: 0;
	color: #666;
	float: left;
	position: relative;
	left: 0;
}

.query-form input[type=text] {
	width: 100%;
	display: block;
	margin: 0 0 15px 0;
	border: none;
	color: black;
	border: 1px solid #cdcdcd;
	padding: 0 0 1px 5px;
	outline: none;
	font-family: inherit;
	border-radius: 2px;
	background-color: #f9f9f9;
	box-sizing: border-box;
}

@media all and (min-width: 500px) {
	.query-inside{
		/*padding: 5px;*/
		text-align: left;
		display: block;
		margin-left: -10px;
		margin-right: -10px;
	}

	.query-box{
		float: left;
		width: calc(50% - 20px);
		box-sizing: border-box;
		margin-right: 10px;
		margin-left: 10px;
	}
	.query-box-wide {
		box-sizing: border-box;
		margin-right: 10px;
		margin-left: 10px;
		clear: left;
	}
	

	.clearfloat{
		clear: left;
	}

	.query-box {
	}

	.query-form input[type=text]{		
		height: 30px;
		font-size: 14px;
	}
}

@media all and (max-width: 499px){
	.query-form input[type=text]{
		font-size: 20px;
		height: 40px;
	}
}

#query-names{
	width: 50%;
}

.query-form h1{
	text-align: left;
}

.query-form input[type=submit] {
	margin: 0 auto;
	min-width: 100px;
	margin-top: 15px;
	border-radius: 2px;
}

.query-link {
	font-size: 11px;
	color: #aaa;
	margin: 0;
}