<!DOCTYPE html>
<html>
<head>
  <title>Lupa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div id="lupa-title">
	<h1>Ubi Erat Lupa</h1>
	<h2>Bilder und Inschriften von antiken&nbsp;Steindenkmälern</h2>
</div>
<div id="lupa-menu">
	<a href="/"<% if current_page?(:controller => 'places', :action => 'map_finding_places') %> class="active"<% end %>>
		KARTE
	</a>
	<a href="/about"<% if current_page?(:controller => 'pages', :action => 'about') %> class="active"<% end %>>
		ÜBER LUPA
	</a>
</div>

<div id=content>
	<%= yield %>
</div>


</body>
</html>
